<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
<a href="https://www.youtube.com/watch?v=MT11IdWPvfc"  style="font-size: 48px " > This Place Matters </a>
  
  <textarea rows="20" style="color: blue" >
March 20, 2011
"This Place Matters" wins at 2011 Addy Awards in Buffalo, New York

"Buffalo: This Place Matters", the short film I created last year with the Buffalo Niagara Convention & Visitors Bureau, won Best of Show Runner-Up and a Gold Addy in the category of Video Sales Presentation at the Buffalo Advertising Club's 2011 Addy Awards.

The judges, a panel of advertising professionals from markets including Toronto, Boston, Philadelphia and Winston-Salem, offered these reviews:

"A love letter to Buffalo."

"Made me want to move here."

The film will now move on and compete at regional and national levels of the American Advertising Federation.

	</textarea>
	
	
	
	
</p>